<div id="header">
	<h2> Questor Sistemas Ltda</h2>
	<div style='display: inline-block;margin-right: 20px'><b>Fone/Fax:</b>(49) 3361-8100</div>
	<div style='display: inline-block;'><b>E-mail:</b>atendimento@questor.com.br</div>
	<div>Chapecó - SC</div>
	
	<hr />
	<div><b>Cliente:</b> <%= @issue.project %></div>
</div>